.modal-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila */
  gap: 20px; /* Espaciado entre columnas */
}

.form-field {
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button,
.close-button {
  width: 48%;
  text-align: center;
}

button:focus,
.close-button:focus {
  outline: none;
}
