<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  aria-labelledby="addUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="empForm" (ngSubmit)="saveUser()">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-container">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="department_id" class="form-label"
                    >Departamento</label
                  >
                  <select
                    id="department_id"
                    class="form-select"
                    formControlName="department_id"
                    required
                  >
                    <option value="">--</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">
                      {{ dept.nombre }}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="position_id" class="form-label">Cargo</label>
                  <select
                    id="position_id"
                    class="form-select"
                    formControlName="position_id"
                    required
                  >
                    <option value="">--</option>
                    <option *ngFor="let post of positions" [value]="post.id">
                      {{ post.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="username" class="form-label">Usuario</label>
                  <input
                    id="username"
                    type="text"
                    class="form-control"
                    formControlName="username"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Correo</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="first_name" class="form-label">Nombre(s)</label>
                  <input
                    id="first_name"
                    type="text"
                    class="form-control"
                    formControlName="first_name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="middle_name" class="form-label"
                    >Segundo Nombre</label
                  >
                  <input
                    id="middle_name"
                    type="text"
                    class="form-control"
                    formControlName="middle_name"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="last_name" class="form-label"
                    >Primer Apellido</label
                  >
                  <input
                    id="last_name"
                    type="text"
                    class="form-control"
                    formControlName="last_name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="middle_last_name" class="form-label"
                    >Segundo Apellido</label
                  >
                  <input
                    id="middle_last_name"
                    type="text"
                    class="form-control"
                    formControlName="middle_last_name"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            style="
              width: 150px;
              font-weight: 300;
              border-radius: 0%;
              border: 1px solid #007bff;
              text-transform: capitalize;
            "
          >
            {{ buttonText }}
          </button>
          <button
            type="button"
            class="btn btn-outline"
            data-bs-dismiss="modal"
            (click)="closeModal()"
            style="
              background-color: #e0e2e6;
              color: black;
              border-radius: 0%;
              border: 1px solid #e0e2e6;
              width: 150px;
            "
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
