<div class="modal fade" id="confirmDeleteModal"  aria-labelledby="confirmDeleteLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body"  style="border-top: none;margin-top: 30px;">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-primary" (click)="close(true) ">Eliminar</button>
        <button type="button" class="btn btn-secondary  text-primary" data-bs-dismiss="modal" (click)="close(false)" >Cancelar</button>
      </div>
    </div>
  </div>
</div>
