<div class="mt-2" style="background-color: #f8f9fa">
  <!-- Cabecera -->
  <div class="border p-4 header-container">
    <div class="div-detail-header-container">
      <p style="margin: 0; font-size: 14px; color: #6c757d">
        Módulo de Administración
      </p>
      <h3 style="margin: 0; font-size: 26px; color: #333; line-height: 34.4px">
        Administración de Usuarios
      </h3>

      <div class="select-filters">
        <div class="col-md-7">
          <select class="form-select" style="background-color: #e0e7eb">
            <option selected>Seleccione un Departamento</option>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.nombre }}
            </option>
          </select>
        </div>
        <div class="col-md-7">
          <select class="form-select" style="background-color: #e0e7eb">
            <option selected>Seleccione un Cargo</option>
            <option *ngFor="let pos of positions" [value]="pos.id">
              {{ pos.nombre }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-outline button-create" (click)="addUser()">
      Crear nuevo usuario
    </button>
  </div>
  <!-- Tabla -->
  <div class="table-responsive border p-4" style="background-color: #f8f9fa">
    <div class="card">
      <div class="card-body">
        <table
          class="table"
          style="background-color: #ffffff; border-collapse: collapse"
        >
          <thead>
            <tr>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Usuario
              </th>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Nombres
              </th>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Apellidos
              </th>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Departamento
              </th>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Cargo
              </th>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Email
              </th>
              <th style="border-bottom: 1px solid #eeeff2; text-align: center">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataSource.data">
              <td class="th-table-users">{{ user.username }}</td>
              <td class="th-table-users">{{ user.first_name }}</td>
              <td class="th-table-users">{{ user.last_name }}</td>
              <td class="th-table-users">{{ user.department?.nombre }}</td>
              <td class="th-table-users">{{ user.position?.nombre }}</td>
              <td class="th-table-users">{{ user.email }}</td>
              <td class="th-table-users">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-success me-2"
                  style="border: 0"
                  (click)="editUser(user.id)"
                >
                  <fa-icon [icon]="faPenToSquare"></fa-icon> Editar
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  style="border: 0"
                  (click)="deleteUser(user.id)"
                >
                  <fa-icon [icon]="faTrash"></fa-icon> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator> -->
        <!-- Pie de la tabla -->
        <div
          class="d-flex justify-content-start"
          style="background-color: #f8f9fa; position: sticky; bottom: 0"
        >
          <p class="mb-3 mt-4" style="margin-left: 25px">
            <strong>Total Registros: {{ dataSource.data.length }} </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-confirm-delete></app-confirm-delete>
<app-add-user></app-add-user>

